# 00. データ前処理（Preprocessing / ETL）

## 目的
- raw（元データ）を、分析しやすい表形式に整形して processed に保存する
- Excelの「印刷用レイアウト（タイトル行・空行・結合セル）」をデータ形式に変換する

## 出力
- data/processed/ に加工済みCSVを出力する

② Codeセル（読み込み：header調整）

まずは ファイル名だけあなたのものに変えてください。

In [1]:
import pandas as pd
from pathlib import Path

raw_path = Path("../data/raw/令和５年住宅・土地統計調査　住宅及び世帯に関する基本集計.xlsx")
raw_path

PosixPath('../data/raw/令和５年住宅・土地統計調査\u3000住宅及び世帯に関する基本集計.xlsx')

In [2]:
df = pd.read_excel(raw_path, header=3)
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,表章項目,住宅数,世帯数,世帯数,世帯数,世帯数,世帯数,世帯人員,世帯人員,世帯人員,世帯人員,世帯人員
1,NaN,NaN,事項名,NaN,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類
2,NaN,NaN,項目名,NaN,0_総数,1_主世帯,11_１人世帯,12_２人以上の世帯,2_同居世帯,0_総数,1_主世帯,11_１人世帯,12_２人以上の世帯,2_同居世帯
3,NaN,NaN,表章単位,戸,世帯,世帯,世帯,世帯,世帯,人,人,人,人,人
4,地域識別コード,地域区分,住宅の所有の関係,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,a,00000_全国,0_総数,55665000,56071400,55665000,21449000,34216100,406400,121773900,121017200,21449000,99568300,756700
6,a,00000_全国,1_持ち家,33875500,34169800,33875500,7715700,26159900,294300,86285800,85679200,7715700,77963500,606600
7,a,00000_全国,2_借家,19461700,19573800,19461700,11849000,7612700,112100,32249700,32099600,11849000,20250600,150000
8,a,01000_北海道,0_総数,2423200,2446400,2423200,988500,1434700,23200,4933200,4893900,988500,3905400,39300
9,a,01000_北海道,1_持ち家,1381200,1397500,1381200,343100,1038100,16300,3244700,3214400,343100,2871300,30400

In [3]:
df = pd.read_excel(raw_path, header=4)
df.head(10)

,Unnamed: 0,Unnamed: 1,表章項目,住宅数,世帯数,世帯数.1,世帯数.2,世帯数.3,世帯数.4,世帯人員,世帯人員.1,世帯人員.2,世帯人員.3,世帯人員.4
0,NaN,NaN,事項名,NaN,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類
1,NaN,NaN,項目名,NaN,0_総数,1_主世帯,11_１人世帯,12_２人以上の世帯,2_同居世帯,0_総数,1_主世帯,11_１人世帯,12_２人以上の世帯,2_同居世帯
2,NaN,NaN,表章単位,戸,世帯,世帯,世帯,世帯,世帯,人,人,人,人,人
3,地域識別コード,地域区分,住宅の所有の関係,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a,00000_全国,0_総数,55665000,56071400,55665000,21449000,34216100,406400,121773900,121017200,21449000,99568300,756700
5,a,00000_全国,1_持ち家,33875500,34169800,33875500,7715700,26159900,294300,86285800,85679200,7715700,77963500,606600
6,a,00000_全国,2_借家,19461700,19573800,19461700,11849000,7612700,112100,32249700,32099600,11849000,20250600,150000
7,a,01000_北海道,0_総数,2423200,2446400,2423200,988500,1434700,23200,4933200,4893900,988500,3905400,39300
8,a,01000_北海道,1_持ち家,1381200,1397500,1381200,343100,1038100,16300,3244700,3214400,343100,2871300,30400
9,a,01000_北海道,2_借家,961400,968300,961400,586600,374700,6900,1563200,1554200,586600,967500,9000

In [4]:
df = df.dropna(axis=1, how="all")  # 全部NaNの列を削除
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', '表章項目', '住宅数', '世帯数', '世帯数.1', '世帯数.2',
       '世帯数.3', '世帯数.4', '世帯人員', '世帯人員.1', '世帯人員.2', '世帯人員.3', '世帯人員.4'],
      dtype='object')

In [5]:
df = df.dropna(how="all")  # 全部NaNの行を削除
df.head(10)

,Unnamed: 0,Unnamed: 1,表章項目,住宅数,世帯数,世帯数.1,世帯数.2,世帯数.3,世帯数.4,世帯人員,世帯人員.1,世帯人員.2,世帯人員.3,世帯人員.4
0,NaN,NaN,事項名,NaN,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類,世帯の種類
1,NaN,NaN,項目名,NaN,0_総数,1_主世帯,11_１人世帯,12_２人以上の世帯,2_同居世帯,0_総数,1_主世帯,11_１人世帯,12_２人以上の世帯,2_同居世帯
2,NaN,NaN,表章単位,戸,世帯,世帯,世帯,世帯,世帯,人,人,人,人,人
3,地域識別コード,地域区分,住宅の所有の関係,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a,00000_全国,0_総数,55665000,56071400,55665000,21449000,34216100,406400,121773900,121017200,21449000,99568300,756700
5,a,00000_全国,1_持ち家,33875500,34169800,33875500,7715700,26159900,294300,86285800,85679200,7715700,77963500,606600
6,a,00000_全国,2_借家,19461700,19573800,19461700,11849000,7612700,112100,32249700,32099600,11849000,20250600,150000
7,a,01000_北海道,0_総数,2423200,2446400,2423200,988500,1434700,23200,4933200,4893900,988500,3905400,39300
8,a,01000_北海道,1_持ち家,1381200,1397500,1381200,343100,1038100,16300,3244700,3214400,343100,2871300,30400
9,a,01000_北海道,2_借家,961400,968300,961400,586600,374700,6900,1563200,1554200,586600,967500,9000

In [6]:
out_path = Path("../data/processed/housing_land_survey_2023_clean.csv")
out_path.parent.mkdir(parents=True, exist_ok=True)

df.to_csv(out_path, index=False)
print("saved:", out_path)

saved: ../data/processed/housing_land_survey_2023_clean.csv