# 00. PDFæŠ½å‡ºï¼ˆExtract from PDFï¼‰

---

## ğŸ“Œ TL;DRï¼ˆã“ã®Notebookã§ã‚„ã‚‹ã“ã¨ï¼‰

æ—¥æœ¬çœ‹è­·å”ä¼šã€Œç—…é™¢çœ‹è­·å®Ÿæ…‹èª¿æŸ»ã€PDFã‹ã‚‰ã€åˆ†æã«å¿…è¦ãª **éƒ½é“åºœçœŒåˆ¥ãƒ†ãƒ¼ãƒ–ãƒ«** ã‚’æŠ½å‡ºã—ã€å¾Œç¶šå‡¦ç†ã§å†åˆ©ç”¨ã§ãã‚‹ **raw CSV** ã¨ã—ã¦ä¿å­˜ã™ã‚‹ã€‚

---

## ğŸ” Notebook Purpose

æœ¬ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã®ä¸Šæµï¼ˆRawå±¤ï¼‰ã¨ã—ã¦ã€PDFã¨ã„ã†éæ§‹é€ ãƒ‡ãƒ¼ã‚¿ã‚’ **æ©Ÿæ¢°å¯èª­ãªè¡¨ãƒ‡ãƒ¼ã‚¿** ã«å¤‰æ›ã™ã‚‹ã€‚
ä»¥é™ã® `02_data_validation.ipynb` / `01_create_master_dataset.ipynb` ã¯ã€æœ¬Notebookã®å‡ºåŠ›ã«ä¾å­˜ã™ã‚‹ã€‚

---

## ğŸ“¥ Inputï¼ˆå‰æï¼‰

- PDFï¼ˆé…ç½®å ´æ‰€ï¼‰ï¼š`data/raw/æ—¥æœ¬çœ‹è­·å”ä¼š_ç—…é™¢çœ‹è­·å®Ÿæ…‹èª¿æŸ»_é›¢è·ç‡ç­‰_2025.pdf`
- PDFå†…ã®è¡¨ã¯ **ãƒšãƒ¼ã‚¸ç•ªå·ï¼ˆ0-indexï¼‰** ã§æŒ‡å®šã—ã¦æŠ½å‡ºã™ã‚‹  
  â€» PDFã®ç‰ˆãŒå¤‰ã‚ã‚‹ã¨ãƒšãƒ¼ã‚¸ãŒã‚ºãƒ¬ã‚‹å¯èƒ½æ€§ãŒã‚ã‚‹ãŸã‚ã€å¿…è¦ã«å¿œã˜ã¦ã€ŒPage Settingsã€ã‚’æ›´æ–°ã™ã‚‹

---

## ğŸ“¤ Outputï¼ˆdata/rawï¼‰

- `æ—¥æœ¬çœ‹è­·å”ä¼š_é›¢è·ç‡_éƒ½é“åºœçœŒåˆ¥_2023.csv`
- `æ—¥æœ¬çœ‹è­·å”ä¼š_å¤œå‹¤72hè¶…éç‡_éƒ½é“åºœçœŒåˆ¥_2024.csv`  
  - è¡¨50ï¼ˆå¤œå‹¤72hè¶…éç‡ï¼‰ï¼‹ è¡¨44/47ï¼ˆä¸‰äº¤ä»£/äºŒäº¤ä»£ã®æœˆå¹³å‡å¤œå‹¤å›æ•°ï¼‰ã‚’ **åŒä¸€ãƒ•ã‚¡ã‚¤ãƒ«ã«çµ±åˆ**
- `æ—¥æœ¬çœ‹è­·å”ä¼š_çµ¦ä¸_éƒ½é“åºœçœŒåˆ¥_2024.csv`  
  - è¡¨34/37/40ï¼ˆå¹³å‡ç¨è¾¼çµ¦ä¸ç·é¡ï¼‰ã‚’çµ±åˆ

---

## ğŸ§© Extraction Designï¼ˆå‡¦ç†è¨­è¨ˆï¼‰

1. **Path Settings**ï¼šãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆãƒ«ãƒ¼ãƒˆæ¨å®š â†’ `data/raw` ã‚’è§£æ±º  
2. **Page Settings**ï¼šæŠ½å‡ºå¯¾è±¡ã®ãƒšãƒ¼ã‚¸ï¼ˆ0-indexï¼‰ã‚’å®šç¾©  
3. **Extract**ï¼šé›¢è·ç‡ / å¤œå‹¤é–¢é€£ / çµ¦ä¸ ã®è¡¨ã‚’æŠ½å‡º  
4. **Save**ï¼šå¾Œç¶šãƒãƒ¼ãƒˆã§æ‰±ã„ã‚„ã™ã„ raw CSV ã¨ã—ã¦ä¿å­˜  
5. **(Optional) Debug**ï¼šæŠ½å‡ºå¤±æ•—æ™‚ã®è¨ºæ–­è£œåŠ©

---

## âš  Notesï¼ˆé‡è¦ï¼‰

- æœ¬Notebookã¯ã€ŒPDFæŠ½å‡ºã€ãªã®ã§ã€**åŒã˜è¡¨ã§ã‚‚PDFã®æ§‹é€ ï¼ˆç½«ç·š/åˆ—çµåˆ/æ³¨è¨˜ï¼‰** ã«ã‚ˆã‚ŠæŠ½å‡ºçµæœãŒå¤‰å‹•ã—å¾—ã‚‹  
- ã“ã“ã§ã®CSVã¯ **â€œçµ±åˆå‰ã®Rawæˆæœç‰©â€** ã¨ã—ã€æ•´å½¢ãƒ»å®šç¾©ã®ç¢ºå®šã¯ `02_data_validation.ipynb` å´ã§è¡Œã†

---

In [14]:
# ===============================
# Imports
# ===============================
from pathlib import Path
import pandas as pd
import pdfplumber

In [15]:
# ===============================
# Path Settings
# ===============================

# å®Ÿè¡Œç’°å¢ƒã«ä¾å­˜ã—ãªã„ã€Œå†ªç­‰æ€§ã€ã¨ã€Œãƒãƒ¼ã‚¿ãƒ“ãƒªãƒ†ã‚£ã€ã‚’ç¢ºä¿ã™ã‚‹ãŸã‚ã€ãƒ‘ã‚¹ã‚’å‹•çš„ã«è§£æ±º
cwd = Path.cwd().resolve()

# ã‚«ãƒ¬ãƒ³ãƒˆãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªãŒ notebooks å±¤ã®å ´åˆã€1éšå±¤ä¸Šã‚’ã€Œãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆãƒ«ãƒ¼ãƒˆï¼ˆBASE_DIRï¼‰ã€ã«è¨­å®š
if cwd.name == "notebooks":
    BASE_DIR = cwd.parent
# ç›´ä¸‹ã«ä¸»è¦ãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªãŒæƒã£ã¦ã„ã‚‹å ´åˆã€ç¾åœ¨ã®å ´æ‰€ã‚’ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆãƒ«ãƒ¼ãƒˆã¨åˆ¤å®š
elif (cwd / "notebooks").exists() and (cwd / "data").exists():
    BASE_DIR = cwd
else:
    # é©åˆ‡ãªãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªéšå±¤ã‚’è¦‹ã¤ã‘ã‚‹ã¾ã§ä¸Šä½ã¸é¡ã‚‹ã€Œå†å¸°çš„ãªæ¢ç´¢ã€ã«ã‚ˆã‚‹ãƒ«ãƒ¼ãƒˆç‰¹å®š
    BASE_DIR = None
    for p in [cwd] + list(cwd.parents):
        if (p / "data").exists() and (p / "notebooks").exists():
            BASE_DIR = p
            break
    # æ¢ç´¢å¤±æ•—æ™‚ã®ãƒ•ã‚©ãƒ¼ãƒ«ãƒãƒƒã‚¯ï¼ˆä¾‹å¤–å‡¦ç†ã®ä»£ã‚ã‚Šã®å®‰å…¨ç­–ï¼‰ã¨ã—ã¦ç¾åœ¨åœ°ã‚’æŒ‡å®š
    if BASE_DIR is None:
        BASE_DIR = cwd  

# ãƒ¡ãƒ€ãƒªã‚ªãƒ³ã‚¢ãƒ¼ã‚­ãƒ†ã‚¯ãƒãƒ£ã«åŸºã¥ãã€ã‚½ãƒ¼ã‚¹ãƒ‡ãƒ¼ã‚¿ï¼ˆRawï¼‰ã¨åŠ å·¥å¾Œãƒ‡ãƒ¼ã‚¿ï¼ˆProcessedï¼‰ã®ãƒ‘ã‚¹ã‚’å®šç¾©
RAW_DIR = BASE_DIR / "data" / "raw"
PROCESSED_DIR = BASE_DIR / "data" / "processed"

# ãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªã®å­˜åœ¨ã‚’ä¿è¨¼ã—ã€ãƒ‘ã‚¤ãƒ—ãƒ©ã‚¤ãƒ³å®Ÿè¡Œæ™‚ã®ã‚¨ãƒ©ãƒ¼ã‚’æœªç„¶ã«é˜²ãï¼ˆä¾‹å¤–é˜²æ­¢å‡¦ç†ï¼‰
RAW_DIR.mkdir(parents=True, exist_ok=True)
PROCESSED_DIR.mkdir(parents=True, exist_ok=True)

# ãƒ‡ãƒ¼ã‚¿ã‚½ãƒ¼ã‚¹ï¼ˆRawãƒ‡ãƒ¼ã‚¿ï¼‰ã®ãƒ‘ã‚¹ã‚’å®šç¾©ã€‚å®Ÿå‹™ã§ã¯ä¸å¤‰ï¼ˆImmutableï¼‰ãªãƒ•ã‚¡ã‚¤ãƒ«ã¨ã—ã¦æ‰±ã†
pdf_path = RAW_DIR / "æ—¥æœ¬çœ‹è­·å”ä¼š_ç—…é™¢çœ‹è­·å®Ÿæ…‹èª¿æŸ»_é›¢è·ç‡ç­‰_2025.pdf"

# ãƒ•ã‚¡ã‚¤ãƒ«ã®å­˜åœ¨æœ‰ç„¡ã‚’ãƒã‚§ãƒƒã‚¯ã™ã‚‹ã€Œãƒãƒªãƒ‡ãƒ¼ã‚·ãƒ§ãƒ³ã€ã‚’å®Ÿæ–½ã—ã€ç•°å¸¸ãŒã‚ã‚Œã°å³åº§ã«å‡¦ç†ã‚’ä¸­æ–­ï¼ˆFail Fastï¼‰
if not pdf_path.exists():
    raise FileNotFoundError(f"PDF not found: {pdf_path}")

# ãƒ‡ãƒãƒƒã‚°ãŠã‚ˆã³ãƒ­ã‚°å‡ºåŠ›ï¼šæœ¬ç•ªé‹ç”¨æ™‚ã®ãƒˆãƒ©ãƒ–ãƒ«ã‚·ãƒ¥ãƒ¼ãƒ†ã‚£ãƒ³ã‚°ã«å¿…è¦ãªæƒ…å ±ã‚’æ¨™æº–å‡ºåŠ›
print("âœ… Path resolved")
print("BASE_DIR:", BASE_DIR)
print("RAW_DIR :", RAW_DIR)
print("PDF     :", pdf_path)

âœ… Path resolved
BASE_DIR: /Users/hideomi.h/nurse-turnover-analysis
RAW_DIR : /Users/hideomi.h/nurse-turnover-analysis/data/raw
PDF     : /Users/hideomi.h/nurse-turnover-analysis/data/raw/æ—¥æœ¬çœ‹è­·å”ä¼š_ç—…é™¢çœ‹è­·å®Ÿæ…‹èª¿æŸ»_é›¢è·ç‡ç­‰_2025.pdf

In [16]:
# ===============================
# Page Settingsï¼ˆ0-index = PDFè¡¨ç¤ºãƒšãƒ¼ã‚¸-1ï¼‰
# ===============================
P_TURNOVER = 73    # PDF 74ãƒšãƒ¼ã‚¸ï¼ˆè¡¨8ï¼‰é›¢è·ç‡
P_NIGHT72P = 108   # PDF 109ãƒšãƒ¼ã‚¸ï¼ˆè¡¨50ï¼‰å¤œå‹¤72hè¶…éç‡

P_SAL_T34  = 96    # PDF 97ãƒšãƒ¼ã‚¸ï¼ˆè¡¨34ï¼‰æ–°å’åˆä»»çµ¦ï¼ˆé«˜å’ï¼‹3å¹´èª²ç¨‹ï¼‰
P_SAL_T37  = 98    # PDF 99ãƒšãƒ¼ã‚¸ï¼ˆè¡¨37ï¼‰æ–°å’åˆä»»çµ¦ï¼ˆå¤§å’ï¼‰
P_SAL_T40  = 100   # PDF 101ãƒšãƒ¼ã‚¸ï¼ˆè¡¨40ï¼‰å‹¤ç¶š10å¹´ãƒ»éç®¡ç†è· æœˆé¡çµ¦ä¸

P_AVG_T44  = 103   # PDF 104ãƒšãƒ¼ã‚¸ï¼ˆè¡¨44ï¼‰ä¸‰äº¤ä»£åˆ¶ æœˆå¹³å‡å¤œå‹¤å›æ•°
P_AVG_T47  = 105   # PDF 106ãƒšãƒ¼ã‚¸ï¼ˆè¡¨47ï¼‰äºŒäº¤ä»£åˆ¶ æœˆå¹³å‡å¤œå‹¤å›æ•°

In [17]:
# ===============================
# Helper Functions
# ===============================

# ãƒ‡ãƒ¼ã‚¿ã®æ±šæŸ“ã‚’é˜²ããŸã‚ã€é›†è¨ˆè¡Œã‚„æ¬ æå€¤ãªã©ã®ã€Œåˆ†æå¯¾è±¡å¤–ãƒ¬ã‚³ãƒ¼ãƒ‰ã€ã‚’å®šç¾©ï¼ˆå®šæ•°ç®¡ç†ï¼‰
EXCLUDE_PREF = {"è¨ˆ", "æœªå›ç­”", "ç„¡å›ç­”ãƒ»ä¸æ˜", ""}

def extract_table(page_idx: int, table_idx: int = 0) -> pd.DataFrame:
    """æŒ‡å®šãƒšãƒ¼ã‚¸ã®æŒ‡å®šãƒ†ãƒ¼ãƒ–ãƒ«ã‚’æŠ½å‡ºã—ã€DataFrameåŒ–ï¼ˆå…¨ã‚»ãƒ«æ–‡å­—åˆ—ï¼‹stripï¼‰"""
    # ã‚³ãƒ³ãƒ†ã‚­ã‚¹ãƒˆãƒãƒãƒ¼ã‚¸ãƒ£ã‚’ä½¿ç”¨ã—ã€PDFãƒªã‚½ãƒ¼ã‚¹ã®è§£æ”¾ã‚’ç¢ºå®Ÿã«å®Ÿè¡Œ
    with pdfplumber.open(pdf_path) as pdf:
        tables = pdf.pages[page_idx].extract_tables()

    # æŠ½å‡ºçµæœãŒç©ºã®å ´åˆã€å¾Œç¶šå‡¦ç†ã§ã®ã‚¨ãƒ©ãƒ¼ã‚’é˜²ããŸã‚å³åº§ã«ä¾‹å¤–ã‚’ã‚¹ãƒ­ãƒ¼ï¼ˆã‚¬ãƒ¼ãƒ‰ç¯€ï¼‰
    if not tables:
        raise ValueError(f"No tables found on page_idx={page_idx}")

    # ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹å¤–å‚ç…§ã‚’é˜²ãå¢ƒç•Œå€¤ãƒã‚§ãƒƒã‚¯ã‚’å®Ÿæ–½
    if table_idx >= len(tables):
        raise ValueError(f"table_idx={table_idx} not found on page_idx={page_idx}. tables_found={len(tables)}")

    # 2æ¬¡å…ƒãƒªã‚¹ãƒˆã‚’DataFrameã¸å¤‰æ›ã—ã€æ¬ æå€¤ï¼ˆNoneï¼‰ã‚’ç©ºæ–‡å­—ã«æ­£è¦åŒ–
    t = tables[table_idx]
    df = pd.DataFrame(t).replace({None: ""})
    # å…¨ã‚»ãƒ«ã®ä½™è¨ˆãªç©ºç™½ã‚’å‰Šé™¤ã™ã‚‹ã€Œãƒ‡ãƒ¼ã‚¿ãƒˆãƒªãƒŸãƒ³ã‚°ã€ã‚’ä¸€æ‹¬é©ç”¨
    df = df.map(lambda x: str(x).strip())
    return df


def filter_pref(df: pd.DataFrame, col: str = "prefecture") -> pd.DataFrame:
    # ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°ã®ç²¾åº¦ã‚’ä¸Šã’ã‚‹ãŸã‚ã€å¯¾è±¡åˆ—ã®å‹ã‚­ãƒ£ã‚¹ãƒˆã¨ãƒˆãƒªãƒŸãƒ³ã‚°ã‚’å†å®Ÿæ–½
    df[col] = df[col].astype(str).str.strip()
    # å®šæ•° EXCLUDE_PREF ã«åŸºã¥ãã€åˆ†æã«ä¸è¦ãªãƒã‚¤ã‚ºãƒ‡ãƒ¼ã‚¿ã‚’é™¤å¤–ï¼ˆãƒã‚¤ã‚ºãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°ï¼‰
    return df[~df[col].isin(EXCLUDE_PREF)].copy()


def pct_to_float(x: str):
    """'11.3%' -> 11.3 / '' -> NA"""
    # æ¬ æå€¤ã«å¯¾ã™ã‚‹å®‰å…¨ãªãƒãƒ³ãƒ‰ãƒªãƒ³ã‚°ï¼ˆNull Safetyï¼‰
    if x is None:
        return pd.NA
    # å…¨è§’ã€Œï¼…ã€ãªã©è¡¨è¨˜æºã‚Œã‚’å¸åã™ã‚‹ã€Œæ­£è¦åŒ–ã€å‡¦ç†
    s = str(x).strip().replace("ï¼…", "%")
    if s == "":
        return pd.NA
    s = s.replace("%", "")
    try:
        # æ–‡å­—åˆ—å‹ã‹ã‚‰æµ®å‹•å°æ•°ç‚¹å‹ã¸ã®ãƒ‘ãƒ¼ã‚¹ï¼ˆå‹å¤‰æ›ï¼‰
        return float(s)
    except:
        # ãƒ‘ãƒ¼ã‚¹å¤±æ•—æ™‚ã«ç•°å¸¸çµ‚äº†ã•ã›ãšã€æ¬ æå€¤ã¨ã—ã¦æ‰±ã†ã“ã¨ã§ãƒ‘ã‚¤ãƒ—ãƒ©ã‚¤ãƒ³ã®åœæ­¢ã‚’å›é¿
        return pd.NA


def yen_to_float(x: str):
    """'276,127' -> 276127 / '' -> NA"""
    if x is None:
        return pd.NA
    # æ¡åŒºåˆ‡ã‚Šã®ã‚«ãƒ³ãƒãªã©ã€è¨ˆç®—ã®é‚ªé­”ã«ãªã‚‹è¨˜å·ã‚’é™¤å»ï¼ˆã‚µãƒ‹ã‚¿ã‚¤ã‚ºï¼‰
    s = str(x).replace(",", "").strip()
    if s == "":
        return pd.NA
    try:
        return float(s)
    except:
        return pd.NA


def num_to_float(x: str):
    """'7.4' -> 7.4 / '' -> NA"""
    if x is None:
        return pd.NA
    s = str(x).replace(",", "").strip()
    if s == "":
        return pd.NA
    try:
        return float(s)
    except:
        return pd.NA


def extract_pref_value_by_col(
    page_idx: int,
    table_idx: int,
    row_start: int,
    pref_col: int,
    value_col: int,
    value_name: str,
    converter=None,
) -> pd.DataFrame:
    """éƒ½é“åºœçœŒåˆ— + å€¼åˆ—ã‚’ã€åˆ—ç•ªå·æŒ‡å®šã§å®‰å®šæŠ½å‡º"""
    # ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«åŒ–ã•ã‚ŒãŸæŠ½å‡ºé–¢æ•°ã‚’å‘¼ã³å‡ºã—ã€å†åˆ©ç”¨æ€§ã‚’ç¢ºä¿
    df = extract_table(page_idx, table_idx=table_idx)

    # ã‚¹ã‚­ãƒ¼ãƒï¼ˆè¡¨ã®å½¢ï¼‰ãŒæƒ³å®šã¨ç•°ãªã‚‹å ´åˆã«æ—©æœŸæ¤œçŸ¥ã™ã‚‹ã€Œã‚¹ã‚­ãƒ¼ãƒãƒã‚§ãƒƒã‚¯ã€
    if df.shape[0] <= row_start or df.shape[1] <= max(pref_col, value_col):
        raise ValueError(f"Table shape looks wrong on page_idx={page_idx}: shape={df.shape}")

    # ä¸è¦ãªãƒ˜ãƒƒãƒ€ãƒ¼è¡Œã‚’ã‚¹ã‚­ãƒƒãƒ—ã—ã€å¿…è¦ãªåˆ—ã ã‘ã‚’ã€Œã‚¹ãƒ©ã‚¤ã‚·ãƒ³ã‚°ã€ã—ã¦æŠ½å‡º
    data = df.iloc[row_start:].copy()
    out = pd.DataFrame({
        "prefecture": data[pref_col],
        value_name: data[value_col],
    })

    # å‰è¿°ã®ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°é–¢æ•°ã‚’é©ç”¨ã—ã€ãƒ“ã‚¸ãƒã‚¹ãƒ­ã‚¸ãƒƒã‚¯ã«åˆè‡´ã™ã‚‹ãƒ¬ã‚³ãƒ¼ãƒ‰ã®ã¿ã‚’æŠ½å‡º
    out = filter_pref(out, "prefecture")

    # æŒ‡å®šã•ã‚ŒãŸã‚³ãƒ³ãƒãƒ¼ã‚¿ï¼ˆé–¢æ•°ï¼‰ã‚’é©ç”¨ã—ã€åˆ—å˜ä½ã®ãƒ‡ãƒ¼ã‚¿å¤‰æ›ï¼ˆãƒ™ã‚¯ãƒˆãƒ«æ¼”ç®—ï¼‰ã‚’å®Ÿè¡Œ
    if converter is not None:
        out[value_name] = out[value_name].map(converter)

    # ãƒ‡ãƒ¼ã‚¿ã®ã€Œæ¬ æç‡ã€ã‚’ç®—å‡ºã—ã€æŠ½å‡ºãƒ—ãƒ­ã‚»ã‚¹ãŒæ­£å¸¸ã‹ã‚’å¯è¦–åŒ–ï¼ˆãƒ‡ãƒ¼ã‚¿å“è³ªãƒ¢ãƒ‹ã‚¿ãƒªãƒ³ã‚°ï¼‰
    na_rate = float(out[value_name].isna().mean())
    print(f"{value_name}: rows={len(out)}  NA_rate={na_rate:.3f}")
    return out

In [18]:
# ===============================
# Extract: Turnoverï¼ˆè¡¨8ï¼‰
# ===============================
print("Extracting: turnover (table 8) ...")

df_t = extract_table(P_TURNOVER, table_idx=0)

# æ—¢å­˜ã®å®‰å®šãƒ‘ã‚¿ãƒ¼ãƒ³ï¼šãƒ˜ãƒƒãƒ€2è¡Œã‚’è½ã¨ã—ã€# ===============================
# Extract: Turnoverï¼ˆè¡¨8ï¼‰
# ===============================
# ãƒ‘ã‚¤ãƒ—ãƒ©ã‚¤ãƒ³ã®å®Ÿè¡ŒçŠ¶æ³ã‚’å¯è¦–åŒ–ã™ã‚‹ãŸã‚ã®ã€Œé€²æ—ãƒ­ã‚°ã€ã‚’å‡ºåŠ›
print("Extracting: turnover (table 8) ...")

# å¤–éƒ¨å®šç¾©ã•ã‚ŒãŸå®šæ•° P_TURNOVERï¼ˆãƒšãƒ¼ã‚¸ç•ªå·ï¼‰ã‚’ä½¿ç”¨ã—ã€PDFã‹ã‚‰ã€Œç”Ÿãƒ‡ãƒ¼ã‚¿ã€ã‚’æŠ½å‡º
df_t = extract_table(P_TURNOVER, table_idx=0)

# ã‚¹ã‚­ãƒ¼ãƒæ§‹é€ ã«åŸºã¥ãã€éãƒ‡ãƒ¼ã‚¿è¡Œï¼ˆ2è¡Œã®ãƒ˜ãƒƒãƒ€ãƒ¼ï¼‰ã‚’ã€Œã‚¹ãƒ©ã‚¤ã‚¹ã€ã—ã¦ãƒ‡ãƒ¼ã‚¿éƒ¨ã®ã¿ã‚’ç‰¹å®š
data_t = df_t.iloc[2:].copy()

# éæ§‹é€ åŒ–ãƒ‡ãƒ¼ã‚¿ã‹ã‚‰ã€å¿…è¦ãªå±æ€§ï¼ˆåˆ—ï¼‰ã®ã¿ã‚’é¸æŠã—ã¦æ§‹é€ åŒ–ï¼ˆãƒ—ãƒ­ã‚¸ã‚§ã‚¯ã‚·ãƒ§ãƒ³ï¼‰
turnover = pd.DataFrame({
    "prefecture": data_t[0],             # éƒ½é“åºœçœŒåï¼šä¸»ã‚­ãƒ¼ï¼ˆJOINã®ã‚­ãƒ¼ï¼‰ã¨ãªã‚‹åˆ—
    "turnover_total": data_t[2],        # å¸¸å‹¤çœ‹è­·å¸«ã®é›¢è·ç‡
    "turnover_new_grad": data_t[4],     # æ–°å’è€…ã®é›¢è·ç‡
    "turnover_experienced": data_t[6],  # æ—¢å’è€…ï¼ˆä¸­é€”ï¼‰ã®é›¢è·ç‡
})

# äº‹å‰ã«å®šç¾©ã—ãŸãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°é–¢æ•°ã§ã€é›†è¨ˆè¡Œãªã©ã®ã€Œåˆ†æå¯¾è±¡å¤–ãƒã‚¤ã‚ºã€ã‚’é™¤å»
turnover = filter_pref(turnover, "prefecture")

# è¤‡æ•°ã®åˆ—ã«å¯¾ã—ã¦ä¸€æ‹¬ã§å‹å¤‰æ›ï¼ˆæ–‡å­—åˆ— â†’ æµ®å‹•å°æ•°ç‚¹ï¼‰ã‚’é©ç”¨ã—ã€æ•°å€¤è¨ˆç®—ãŒå¯èƒ½ãªçŠ¶æ…‹ã¸æ•´å½¢
for c in ["turnover_total", "turnover_new_grad", "turnover_experienced"]:
    turnover[c] = turnover[c].map(pct_to_float)

# å‡¦ç†å¾Œã®ãƒ‡ãƒ¼ã‚¿é‡ï¼ˆãƒ¬ã‚³ãƒ¼ãƒ‰æ•°ãƒ»ã‚«ãƒ©ãƒ æ•°ï¼‰ã‚’ç¢ºèªã—ã€ãƒ‡ãƒ¼ã‚¿ã®æ¬ è½ãŒãªã„ã‹ãƒã‚§ãƒƒã‚¯ï¼ˆæ•´åˆæ€§ç¢ºèªï¼‰
print("turnover shape:", turnover.shape)

# ä¸­é–“çµæœã‚’ãƒ—ãƒ¬ãƒ“ãƒ¥ãƒ¼ã—ã€æœŸå¾…é€šã‚Šã®ãƒ‡ãƒ¼ã‚¿å¤‰æ›ãŒè¡Œã‚ã‚Œã¦ã„ã‚‹ã‹ã‚’è¦–è¦šçš„ã«ç¢ºèª
display(turnover.head(3))
data_t = df_t.iloc[2:].copy()

turnover = pd.DataFrame({
    "prefecture": data_t[0],
    "turnover_total": data_t[2],
    "turnover_new_grad": data_t[4],
    "turnover_experienced": data_t[6],
})

turnover = filter_pref(turnover, "prefecture")
for c in ["turnover_total", "turnover_new_grad", "turnover_experienced"]:
    turnover[c] = turnover[c].map(pct_to_float)

print("turnover shape:", turnover.shape)
display(turnover.head(3))

Extracting: turnover (table 8) ...
Extracting: turnover (table 8) ...
turnover shape: (47, 4)

  prefecture  turnover_total  turnover_new_grad  turnover_experienced
3        åŒ—æµ·é“            11.5                5.9                  16.6
4        é’æ£®çœŒ             8.6               10.7                  16.7
5        å²©æ‰‹çœŒ             6.8                7.8                  19.1

turnover shape: (47, 4)

  prefecture  turnover_total  turnover_new_grad  turnover_experienced
3        åŒ—æµ·é“            11.5                5.9                  16.6
4        é’æ£®çœŒ             8.6               10.7                  16.7
5        å²©æ‰‹çœŒ             6.8                7.8                  19.1

In [19]:
# ===============================
# Extract: Nightï¼ˆè¡¨50 / è¡¨44 / è¡¨47ï¼‰
#  - è¡¨50: å¤œå‹¤72hè¶…éç‡ï¼ˆ%ï¼‰
#  - è¡¨44: ä¸‰äº¤ä»£åˆ¶ æœˆå¹³å‡å¤œå‹¤å›æ•°ï¼ˆå›/æœˆï¼‰
#  - è¡¨47: äºŒäº¤ä»£åˆ¶ æœˆå¹³å‡å¤œå‹¤å›æ•°ï¼ˆå›/æœˆï¼‰
# ===============================

print("Extracting: night_72h_plus (table 50) ...")
df_n = extract_table(P_NIGHT72P, table_idx=0)
data_n = df_n.iloc[1:].copy()  # è¡¨50ã¯ã“ã®é–‹å§‹ãŒå®‰å®šï¼ˆæ—¢å­˜å®Ÿè£…ï¼‰
night_72h = pd.DataFrame({
    "prefecture": data_n[0],
    "night_shift_72h_plus": data_n[5],
})
night_72h = filter_pref(night_72h, "prefecture")
night_72h["night_shift_72h_plus"] = night_72h["night_shift_72h_plus"].map(pct_to_float)
print("night_72h shape:", night_72h.shape)


print("Extracting: night shift counts (table 44/47) ...")
# ãƒ¦ãƒ¼ã‚¶ãƒ¼æç¤ºã®ç¢ºå®šä»•æ§˜ï¼ˆè¡¨ç¤ºçµæœã‹ã‚‰ç¢ºå®šï¼‰
night_3shift = extract_pref_value_by_col(
    page_idx=P_AVG_T44, table_idx=0, row_start=2, pref_col=0, value_col=2,
    value_name="night_shifts_per_month_three_shift",
    converter=num_to_float,
)

night_2shift = extract_pref_value_by_col(
    page_idx=P_AVG_T47, table_idx=0, row_start=2, pref_col=0, value_col=2,
    value_name="night_shifts_per_month_two_shift",
    converter=num_to_float,
)

# åŒä¸€ãƒ•ã‚¡ã‚¤ãƒ«ã«çµ±åˆï¼ˆè¦ä»¶ï¼‰
night_master = (
    night_72h
    .merge(night_3shift, on="prefecture", how="left")
    .merge(night_2shift, on="prefecture", how="left")
)

print("night_master shape:", night_master.shape)
display(night_master.head(3))

Extracting: night_72h_plus (table 50) ...
night_72h shape: (47, 2)
Extracting: night shift counts (table 44/47) ...
night_shifts_per_month_three_shift: rows=47  NA_rate=0.000
night_shifts_per_month_two_shift: rows=47  NA_rate=0.000
night_master shape: (47, 4)

,prefecture,night_shift_72h_plus,night_shifts_per_month_three_shift,night_shifts_per_month_two_shift
0,åŒ—æµ·é“,36.7,7.8,4.6
1,é’æ£®çœŒ,36.5,7.7,4.8
2,å²©æ‰‹çœŒ,11.8,7.5,4.1

In [20]:
# ===============================
# Extract: Salaryï¼ˆè¡¨34 / è¡¨37 / è¡¨40ï¼‰
#  - ã„ãšã‚Œã‚‚ã€Œå¹³å‡ç¨è¾¼çµ¦ä¸ç·é¡ï¼ˆå††ï¼‰ã€ = åˆ—3
# ===============================

print("Extracting: salary tables (t34/t37/t40) ...")

salary_t34 = extract_pref_value_by_col(
    page_idx=P_SAL_T34, table_idx=0, row_start=2, pref_col=0, value_col=3,
    value_name="starting_salary_nurse_diploma_monthly_yen",
    converter=yen_to_float,
)

salary_t37 = extract_pref_value_by_col(
    page_idx=P_SAL_T37, table_idx=0, row_start=2, pref_col=0, value_col=3,
    value_name="starting_salary_nurse_bachelor_monthly_yen",
    converter=yen_to_float,
)

salary_t40 = extract_pref_value_by_col(
    page_idx=P_SAL_T40, table_idx=0, row_start=2, pref_col=0, value_col=3,
    value_name="salary_nurse_10yr_non_manager_monthly_yen",
    converter=yen_to_float,
)

salary_master = (
    salary_t34
    .merge(salary_t37, on="prefecture", how="left")
    .merge(salary_t40, on="prefecture", how="left")
)

print("salary_master shape:", salary_master.shape)
display(salary_master.head(3))

Extracting: salary tables (t34/t37/t40) ...
starting_salary_nurse_diploma_monthly_yen: rows=47  NA_rate=0.000
starting_salary_nurse_bachelor_monthly_yen: rows=47  NA_rate=0.000
salary_nurse_10yr_non_manager_monthly_yen: rows=47  NA_rate=0.000
salary_master shape: (47, 4)

,prefecture,starting_salary_nurse_diploma_monthly_yen,starting_salary_nurse_bachelor_monthly_yen,salary_nurse_10yr_non_manager_monthly_yen
0,åŒ—æµ·é“,270231.0,276652.0,326530.0
1,é’æ£®çœŒ,270494.0,275476.0,314135.0
2,å²©æ‰‹çœŒ,268264.0,276926.0,322466.0

In [8]:
# ===============================
# Save to CSVï¼ˆdata/rawï¼‰
# ===============================

# æœŸå¾…ã™ã‚‹åˆ—ãŒæƒã£ã¦ã„ã‚‹ã‹ï¼ˆè¦ä»¶ãƒã‚§ãƒƒã‚¯ï¼‰
required_cols = {
    "night_shift_72h_plus",
    "night_shifts_per_month_three_shift",
    "night_shifts_per_month_two_shift",
}
missing_cols = [c for c in required_cols if c not in night_master.columns]
if missing_cols:
    raise RuntimeError(f"night_master is missing columns: {missing_cols}")

out_turnover = RAW_DIR / "æ—¥æœ¬çœ‹è­·å”ä¼š_é›¢è·ç‡_éƒ½é“åºœçœŒåˆ¥_2023.csv"
out_night    = RAW_DIR / "æ—¥æœ¬çœ‹è­·å”ä¼š_å¤œå‹¤72hè¶…éç‡_éƒ½é“åºœçœŒåˆ¥_2024.csv"
out_salary   = RAW_DIR / "æ—¥æœ¬çœ‹è­·å”ä¼š_çµ¦ä¸_éƒ½é“åºœçœŒåˆ¥_2024.csv"

turnover.to_csv(out_turnover, index=False, encoding="utf-8-sig")
night_master.to_csv(out_night, index=False, encoding="utf-8-sig")
salary_master.to_csv(out_salary, index=False, encoding="utf-8-sig")

print("âœ… Saved (raw)")
print(f"- {out_turnover}  shape={turnover.shape}")
print(f"- {out_night}     shape={night_master.shape}")
print(f"- {out_salary}    shape={salary_master.shape}")

# æ›¸ãè¾¼ã¿å…ˆã‚’å–ã‚Šé•ãˆã¦ã„ãªã„ã‹æœ€çµ‚ç¢ºèªï¼ˆèª­ã¿æˆ»ã—ï¼‰
night_check = pd.read_csv(out_night)
print("âœ… Reload check (night file) columns:", list(night_check.columns))
display(night_check.head(3))

âœ… Saved (raw)
- /Users/hideomi.h/nurse-turnover-analysis/data/raw/æ—¥æœ¬çœ‹è­·å”ä¼š_é›¢è·ç‡_éƒ½é“åºœçœŒåˆ¥_2023.csv  shape=(47, 4)
- /Users/hideomi.h/nurse-turnover-analysis/data/raw/æ—¥æœ¬çœ‹è­·å”ä¼š_å¤œå‹¤72hè¶…éç‡_éƒ½é“åºœçœŒåˆ¥_2024.csv     shape=(47, 4)
- /Users/hideomi.h/nurse-turnover-analysis/data/raw/æ—¥æœ¬çœ‹è­·å”ä¼š_çµ¦ä¸_éƒ½é“åºœçœŒåˆ¥_2024.csv    shape=(47, 4)
âœ… Reload check (night file) columns: ['prefecture', 'night_shift_72h_plus', 'night_shifts_per_month_three_shift', 'night_shifts_per_month_two_shift']

,prefecture,night_shift_72h_plus,night_shifts_per_month_three_shift,night_shifts_per_month_two_shift
0,åŒ—æµ·é“,36.7,7.8,4.6
1,é’æ£®çœŒ,36.5,7.7,4.8
2,å²©æ‰‹çœŒ,11.8,7.5,4.1

In [21]:
# ===============================
# (Optional) Debug Helper
# ===============================
def show_tables_on_page(page_idx: int):
    with pdfplumber.open(pdf_path) as pdf:
        tables = pdf.pages[page_idx].extract_tables()
    print(f"page_idx={page_idx}  tables_found={len(tables)}")
    for i, t in enumerate(tables):
        df = pd.DataFrame(t).replace({None: ""}).map(lambda x: str(x).strip())
        print(f"\n--- table_idx={i}  shape={df.shape} ---")
        display(df.head(8))

## âœ… Project Statusï¼ˆç¾æ™‚ç‚¹ï¼‰

ã“ã®Notebookã¯ã€PDFç”±æ¥ãƒ‡ãƒ¼ã‚¿ã‚’ **å†ç¾å¯èƒ½ãªå½¢ã§raw CSVåŒ–** ã™ã‚‹ä¸Šæµå·¥ç¨‹ã§ã‚ã‚‹ã€‚
å¾Œç¶šã®å“è³ªæ¤œæŸ»ãƒ»çµ±åˆå‡¦ç†ã¯ä»¥ä¸‹ã§å®Ÿæ–½ã™ã‚‹ã€‚

- `02_data_validation.ipynb`ï¼šæŠ½å‡ºçµæœã®æ¤œè¨¼ï¼ˆæ¬ æãƒ»åˆ—æ§‹é€ ãƒ»å˜ä½ãƒ»é™¤å¤–ãƒ«ãƒ¼ãƒ«ï¼‰
- `01_create_master_dataset.ipynb`ï¼šè¤‡æ•°ã‚½ãƒ¼ã‚¹ã‚’çµåˆã— master dataset ã‚’ç”Ÿæˆ

---

## âš  Limitations

- PDFç‰ˆã‚„ãƒ¬ã‚¤ã‚¢ã‚¦ãƒˆå¤‰æ›´ã«ã‚ˆã‚Šã€ãƒšãƒ¼ã‚¸ç•ªå·ãƒ»æŠ½å‡ºç²¾åº¦ãŒå¤‰ã‚ã‚‹å¯èƒ½æ€§ãŒã‚ã‚‹
- æŠ½å‡ºã¯ã€Œè¡¨æ§‹é€ ã€ã«ä¾å­˜ã™ã‚‹ãŸã‚ã€æ³¨è¨˜ã‚„åˆ—çµåˆã®æºã‚Œã‚’å®Œå…¨ã«ã¯å¸åã§ããªã„

---

## ğŸš€ Nextï¼ˆæ”¹å–„æ¡ˆï¼‰

- æŠ½å‡ºå¾Œã®ã‚¹ã‚­ãƒ¼ãƒã‚’å›ºå®šã—ã€`02`å´ã§ **ã‚¹ã‚­ãƒ¼ãƒæ¤œè¨¼ï¼ˆæœŸå¾…åˆ—ãƒ»å‹ãƒ»å€¤åŸŸï¼‰** ã‚’è‡ªå‹•ãƒ†ã‚¹ãƒˆåŒ–
- PDFå·®åˆ†ï¼ˆç‰ˆæ›´æ–°ï¼‰ã«å‚™ãˆã€ãƒšãƒ¼ã‚¸è¨­å®šã®æ¤œçŸ¥/æ›´æ–°ã‚’åŠè‡ªå‹•åŒ–ï¼ˆä¾‹ï¼šè¡¨ã‚¿ã‚¤ãƒˆãƒ«æ¤œç´¢ï¼‰