# 02. ãƒ‡ãƒ¼ã‚¿æ¤œè¨¼ï¼ˆData Validationï¼‰

---

## ğŸ“Œ TL;DRï¼ˆã“ã®Notebookã§ç¢ºèªã™ã‚‹ã“ã¨ï¼‰

æœ¬Notebookã§ã¯ã€å¾Œç¶šã®EDAï¼ãƒ¢ãƒ‡ãƒªãƒ³ã‚°ã«å…¥ã‚‹å‰ã«ã€çµ±åˆãƒã‚¹ã‚¿ãƒ¼ãƒ‡ãƒ¼ã‚¿ã® **å‰ææ¡ä»¶ï¼ˆã‚¹ã‚­ãƒ¼ãƒãƒ»æ¬ æãƒ»åˆ†å¸ƒãƒ»ç•°å¸¸å€¤ï¼‰** ã‚’ç‚¹æ¤œã—ã€åˆ†æãŒæˆç«‹ã™ã‚‹çŠ¶æ…‹ã‹ã‚’ç¢ºèªã™ã‚‹ã€‚  
ã“ã“ã§æ‰±ã†ã®ã¯ **äº‹å®Ÿç¢ºèªï¼ˆQuality Checksï¼‰ã®ã¿** ã§ã‚ã‚Šã€å› æœã®è§£é‡ˆã‚„æ–½ç­–æè¨€ã¯è¡Œã‚ãªã„ã€‚

---

## ğŸ” Notebook Purpose

- å…¥åŠ›ãƒ‡ãƒ¼ã‚¿ãŒã€Œéƒ½é“åºœçœŒ Ã— æŒ‡æ¨™ã€ã®é›†è¨ˆãƒ‡ãƒ¼ã‚¿ã¨ã—ã¦æˆç«‹ã—ã¦ã„ã‚‹ã‹ã‚’æ¤œè¨¼ã™ã‚‹  
- æ¬ æãƒ»å‹ãƒ»å¤–ã‚Œå€¤ãªã©ã€å¾Œç¶šå·¥ç¨‹ï¼ˆEDA/å›å¸°ï¼‰ã‚’å£Šã™ãƒªã‚¹ã‚¯ã‚’äº‹å‰ã«æ´—ã„å‡ºã™  
- â€œã“ã®ãƒ‡ãƒ¼ã‚¿ã§æ„æ€æ±ºå®šã«è€ãˆã‚‹ã‹â€ ã®æœ€ä½é™ã®å“è³ªã‚²ãƒ¼ãƒˆï¼ˆGo/No-Goï¼‰ã‚’é€šã™

---

## ğŸ“¥ Inputï¼ˆå‰æï¼‰

- çµ±åˆãƒã‚¹ã‚¿ãƒ¼ãƒ‡ãƒ¼ã‚¿ï¼š`data/processed/nurse_data_clean.csv`  
  â€» ç¾æ™‚ç‚¹ã§ã¯æ¢ç´¢ãƒ»æ¤œè¨¼ã‚’å„ªå…ˆã—ã€æ•´å½¢æ¸ˆã¿ã®CSVã‚’èª­ã¿è¾¼ã‚€ã€‚å°†æ¥çš„ã«ã¯ `01_create_master_dataset.ipynb` ã‚’èµ·ç‚¹ã« ETL åŒ–ã—ã€å†ç¾æ€§ã‚’æ‹…ä¿ã™ã‚‹æƒ³å®šã€‚
- ãƒ‡ãƒ¼ã‚¿å®šç¾©ãƒ»ã‚¯ãƒªãƒ¼ãƒ‹ãƒ³ã‚°æ–¹é‡ï¼šNotebook/READMEã®ãƒ‡ãƒ¼ã‚¿å®šç¾©ã‚»ã‚¯ã‚·ãƒ§ãƒ³ï¼ˆè©²å½“ãŒã‚ã‚Œã° `data_dictionary`ï¼‰ã‚’å‚ç…§

---

## ğŸ“¤ Outputï¼ˆæˆæœç‰©ï¼‰

- å“è³ªãƒã‚§ãƒƒã‚¯çµæœï¼ˆè¡Œæ•°/åˆ—ã€æ¬ æã€å‹ã€åˆ†å¸ƒã€ç•°å¸¸å€¤ã€ã‚«ãƒ†ã‚´ãƒªå€¤ã®ã‚µãƒ³ãƒ—ãƒ«ï¼‰
- å¾Œç¶šå·¥ç¨‹ã§ã®å‰æï¼ˆä¾‹ï¼šé™¤å¤–ãƒ«ãƒ¼ãƒ«ã€å‹å¤‰æ›ã€æ¬ ææ‰±ã„ï¼‰ã®æ˜æ–‡åŒ–
- ãƒ¢ãƒ‡ãƒªãƒ³ã‚°ã«é€²ã‚€ãŸã‚ã®â€œãƒ‡ãƒ¼ã‚¿å¥‘ç´„ï¼ˆData Contractï¼‰â€ã®ç¢ºèª

---

## âœ… Data Contractï¼ˆæœ€ä½é™ã®æˆç«‹æ¡ä»¶ï¼‰

- è¦³æ¸¬å˜ä½ï¼šéƒ½é“åºœçœŒï¼ˆn = 47ï¼‰
- 1éƒ½é“åºœçœŒ = 1è¡Œï¼ˆé‡è¤‡ãŒãªã„ï¼‰
- ç›®çš„å¤‰æ•°ï¼ˆé›¢è·ç‡ãªã©ï¼‰ã«è‡´å‘½çš„ãªæ¬ æãŒãªã„
- æ•°å€¤åˆ—ãŒæ•°å€¤ã¨ã—ã¦æ‰±ãˆã‚‹ï¼ˆæ–‡å­—æ··å…¥ãƒ»è¡¨è¨˜æºã‚ŒãŒãªã„ï¼‰
- ã‚«ãƒ†ã‚´ãƒªåˆ—ã«æƒ³å®šå¤–ã®å€¤ï¼ˆé›†è¨ˆè¡Œã€Œè¨ˆã€ã‚„ã€Œæœªå›ç­”ã€ãªã©ï¼‰ãŒæ··å…¥ã—ã¦ã„ãªã„

---

## ğŸ§ª Checksï¼ˆã“ã®Notebookã§è¡Œã†æ¤œè¨¼ï¼‰

- **Schema & Shape**ï¼šè¡Œæ•°ãƒ»åˆ—æ•°ã€ã‚«ãƒ©ãƒ ä¸€è¦§ã€å‹
- **Completeness**ï¼šæ¬ ææ•°ã€æ¬ æãƒ‘ã‚¿ãƒ¼ãƒ³
- **Uniqueness**ï¼šéƒ½é“åºœçœŒã‚­ãƒ¼ã®ä¸€æ„æ€§ï¼ˆé‡è¤‡ãƒ»æ¬ è½ï¼‰
- **Sanity**ï¼šãƒ¬ãƒ³ã‚¸ãƒ»åˆ†å¸ƒã®å¦¥å½“æ€§ï¼ˆæ˜ã‚‰ã‹ãªç•°å¸¸å€¤ï¼‰
- **Categorical Inspection**ï¼šã‚«ãƒ†ã‚´ãƒªå€¤ã®ã‚µãƒ³ãƒ—ãƒ«æŠ½å‡ºï¼ˆè¡¨è¨˜æºã‚Œï¼æ··å…¥æ¤œçŸ¥ï¼‰

---

## âš  Notes

- æœ¬Notebookã¯ã€Œé›†è¨ˆãƒ‡ãƒ¼ã‚¿ã®å“è³ªç¢ºèªã€ã§ã‚ã‚Šã€å€‹äººãƒ‡ãƒ¼ã‚¿ã®å› æœæ¨è«–ã‚’è¡Œã†ã‚‚ã®ã§ã¯ãªã„  
- ç•°å¸¸å€¤ã‚„æ¬ æãŒè¦‹ã¤ã‹ã£ãŸå ´åˆã€**ä¿®æ­£æ–¹é‡ï¼ˆé™¤å¤–ï¼è£œå®Œï¼å†å–å¾—ï¼‰** ã‚’æ˜ç¤ºã—ã€ä¸‹æµå·¥ç¨‹ã®å…¥åŠ›ã‚’å®‰å®šåŒ–ã•ã›ã‚‹

In [1]:
import pandas as pd  # ãƒ‡ãƒ¼ã‚¿åˆ†æã®ä¸»å½¹ãƒ„ãƒ¼ãƒ«ã€Œpandasã€ã‚’pdã¨ã„ã†åå‰ã§ä½¿ãˆã‚‹ã‚ˆã†ã«ã™ã‚‹
import numpy as np   # æ•°å€¤è¨ˆç®—ãŒå¾—æ„ãªã€ŒNumPyã€ã‚’npã¨ã„ã†åå‰ã§æº–å‚™ï¼ˆåˆ†æã®åŸºæœ¬ã‚»ãƒƒãƒˆï¼‰
from pathlib import Path  # ãƒ•ã‚¡ã‚¤ãƒ«ã®å ´æ‰€ï¼ˆãƒ‘ã‚¹ï¼‰ã‚’ç›´æ„Ÿçš„ã«æ‰±ã†ãŸã‚ã®é“å…·ã‚’èª­ã¿è¾¼ã‚€

DATA_PATH = Path("../data/processed/nurse_data_clean.csv")  # ãƒ‡ãƒ¼ã‚¿ã®å ´æ‰€ã‚’æŒ‡å®šï¼ˆ..ã¯ã€Œ1ã¤ä¸Šã®ãƒ•ã‚©ãƒ«ãƒ€ã«æˆ»ã‚‹ã€ã¨ã„ã†æ„å‘³ï¼‰
df = pd.read_csv(DATA_PATH)  # æŒ‡å®šã—ãŸCSVãƒ•ã‚¡ã‚¤ãƒ«ã‚’èª­ã¿è¾¼ã‚“ã§ã€è¡¨ãƒ‡ãƒ¼ã‚¿ã¨ã—ã¦dfã«å…¥ã‚Œã‚‹

pd.set_option("display.max_columns", 100)  # æ¨ªã«é•·ã„ãƒ‡ãƒ¼ã‚¿ã§ã‚‚ã€å‹æ‰‹ã«çœç•¥ã›ãš200åˆ—ã¾ã§å…¨éƒ¨è¦‹ã›ã‚‹è¨­å®š
pd.set_option("display.max_rows", 100)     # ç¸¦ã«é•·ã„ãƒ‡ãƒ¼ã‚¿ã§ã‚‚ã€å‹æ‰‹ã«çœç•¥ã›ãš200è¡Œã¾ã§å…¨éƒ¨è¦‹ã›ã‚‹è¨­å®š

In [2]:
# è¨­å®šã—ãŸãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹ã‚’ãƒ­ã‚°ã«å‡ºåŠ›ã—ã¦ã€æŒ‡å®šãƒŸã‚¹ãŒãªã„ã‹ç¢ºèª
print("file:", DATA_PATH)

# ãƒ•ã‚¡ã‚¤ãƒ«ã®å®Ÿåœ¨ç¢ºèªï¼ˆTrueãªã‚‰OKã€Falseãªã‚‰ãƒ•ã‚¡ã‚¤ãƒ«ãŒç„¡ã„ï¼‰
print("exists:", DATA_PATH.exists())

# ãƒ‡ãƒ¼ã‚¿ã®æ§‹é€ ï¼ˆåˆ—åã‚„å€¤ã®å…¥ã‚Šæ–¹ï¼‰ã‚’æŠŠæ¡ã™ã‚‹ãŸã‚ã€å…ˆé ­5è¡Œã‚’ãƒ—ãƒ¬ãƒ“ãƒ¥ãƒ¼
df.head()

file: ../data/processed/nurse_data_clean.csv
exists: True

,prefecture,turnover_total,nurse_per_100k,annual_income,night_shift_72h_plus,metro_a,metro_b,job_openings_ratio,turnover_new_grad,turnover_experienced,home_ownership_rate,commute_time,rent_private,hospital_count,large_hospital_count,large_hospital_ratio,hospital_per_100k,population,overtime_hours,night_shift_3_avg,night_shift_2_avg,average_age,population_density
0,åŒ—æµ·é“,11.5,1306.9,478.90,36.7,0,0,1.12,5.9,16.6,57.0,1.04,53097,534,17,3.18,10.5,5092,5,7.8,4.6,42.0,64.9
1,é’æ£®çœŒ,8.6,1118.2,435.22,36.5,0,0,1.30,10.7,16.7,71.4,1.01,46924,89,3,3.37,7.5,1184,5,7.7,4.8,42.0,122.8
2,å²©æ‰‹çœŒ,6.8,1217.9,458.97,11.8,0,0,1.32,7.8,19.1,70.3,1.03,50136,91,2,2.20,7.8,1163,3,7.5,4.1,46.0,76.1
3,å®®åŸçœŒ,9.1,934.4,535.80,30.2,0,0,1.34,7.1,12.4,60.0,1.13,58826,135,7,5.19,6.0,2264,6,8.0,4.7,40.0,310.9
4,ç§‹ç”°çœŒ,7.4,1265.3,524.81,25.1,0,0,1.47,5.0,7.3,77.1,1.00,48449,64,3,4.69,7.0,914,4,7.7,4.3,44.9,78.5

In [3]:
# ãƒ‡ãƒ¼ã‚¿ã®è¦æ¨¡æ„Ÿï¼ˆãƒ¬ã‚³ãƒ¼ãƒ‰æ•°Ã—ã‚«ãƒ©ãƒ æ•°ã®æ¬¡å…ƒï¼‰ã‚’æŠŠæ¡
print("shape:", df.shape)

# ã‚«ãƒ©ãƒ æ•°ï¼ˆç‰¹å¾´é‡ã®ç·æ•°ï¼‰ã‚’ã‚«ã‚¦ãƒ³ãƒˆã—ã¦ç¢ºèª
print("columns:", len(df.columns))

# ãƒ‡ãƒ¼ã‚¿å‹ï¼ˆDtypeï¼‰ã€æ¬ æå€¤ï¼ˆNullï¼‰ã®æœ‰ç„¡ã€ãƒ¡ãƒ¢ãƒªä½¿ç”¨é‡ã‚’ä¸€æ‹¬ã§ãƒ—ãƒ­ãƒ•ã‚¡ã‚¤ãƒªãƒ³ã‚°
df.info()

shape: (47, 23)
columns: 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   prefecture            47 non-null     object
 1   turnover_total        47 non-null     float64
 2   nurse_per_100k        47 non-null     float64
 3   annual_income         47 non-null     float64
 4   night_shift_72h_plus  47 non-null     float64
 5   metro_a               47 non-null     int64
 6   metro_b               47 non-null     int64
 7   job_openings_ratio    47 non-null     float64
 8   turnover_new_grad     47 non-null     float64
 9   turnover_experienced  47 non-null     float64
 10  home_ownership_rate   47 non-null     float64
 11  commute_time          47 non-null     float64
 12  rent_private          47 non-null     int64
 13  hospital_count        47 non-null     int64
 14  large_hospital_count  47 non-null     int64
 15  large_hospital_ratio  47 non-null     float64
 16  hospital_per_100k     47 non-null     float64
 17  population            47 non-null     int64
 18  overtime_hours        47 non-null     int64
 19  night_shift_3_avg     47 non-null     float64
 20  night_shift_2_avg     47 non-null     float64
 21  average_age           47 non-null     float64
 22  population_density    47 non-null     float64
dtypes: float64(15), int64(7), object(1)
memory usage: 8.6+ KB

In [4]:
# å…¨ã‚«ãƒ©ãƒ åï¼ˆã‚¹ã‚­ãƒ¼ãƒï¼‰ã‚’ã€ãƒãƒ³ãƒ‰ãƒªãƒ³ã‚°ã—ã‚„ã™ã„æ¨™æº–ãƒªã‚¹ãƒˆå½¢å¼ã§å–å¾—
df.columns.tolist()

['prefecture',
 'turnover_total',
 'nurse_per_100k',
 'annual_income',
 'night_shift_72h_plus',
 'metro_a',
 'metro_b',
 'job_openings_ratio',
 'turnover_new_grad',
 'turnover_experienced',
 'home_ownership_rate',
 'commute_time',
 'rent_private',
 'hospital_count',
 'large_hospital_count',
 'large_hospital_ratio',
 'hospital_per_100k',
 'population',
 'overtime_hours',
 'night_shift_3_avg',
 'night_shift_2_avg',
 'average_age',
 'population_density']

In [5]:
# ã‚«ãƒ©ãƒ åï¼ˆã‚¹ã‚­ãƒ¼ãƒï¼‰ã®é‡è¤‡ã‚’åˆ¤å®šã—ã€è©²å½“ã™ã‚‹åˆ—åã ã‘ã‚’æ¨™æº–ãƒªã‚¹ãƒˆå½¢å¼ã§æŠ½å‡º
dup_cols = df.columns[df.columns.duplicated()].tolist()

# é‡è¤‡ã—ã¦ã„ã‚‹ã‚«ãƒ©ãƒ åã‚’ãƒ­ã‚°ã«å‡ºåŠ›ã—ã€ãƒ‡ãƒ¼ã‚¿è¨­è¨ˆã«ç•°å¸¸ãŒãªã„ã‹ãƒãƒªãƒ‡ãƒ¼ã‚·ãƒ§ãƒ³
print("duplicated columns:", dup_cols)

duplicated columns: []

In [6]:
# å„ã‚«ãƒ©ãƒ ã®æ¬ ææ•°ï¼ˆNull Countï¼‰ã‚’é›†è¨ˆã—ã€æ¬ æãŒå¤šã„é †ï¼ˆé™é †ï¼‰ã«ã‚½ãƒ¼ãƒˆã—ã¦è¦æ¨¡ã‚’æŠŠæ¡
na_count = df.isna().sum().sort_values(ascending=False)

# å…¨ãƒ‡ãƒ¼ã‚¿ã«å¯¾ã™ã‚‹æ¬ æç‡ï¼ˆNull Rateï¼‰ã‚’ç®—å‡ºã—ã€ãƒ‡ãƒ¼ã‚¿ã®ä¿¡é ¼åº¦ã‚’å®šé‡çš„ã«è©•ä¾¡
na_rate = (df.isna().mean() * 100).sort_values(ascending=False)

# æ¬ æã®å®Ÿæ•°ã¨å‰²åˆã‚’çµ±åˆã—ãŸè¦ç´„ãƒ†ãƒ¼ãƒ–ãƒ«ã‚’ä½œæˆã—ã€ä¸Šä½30ä»¶ã‚’ãƒ¬ãƒ³ãƒ€ãƒªãƒ³ã‚°ï¼ˆãƒ—ãƒ­ãƒ•ã‚¡ã‚¤ãƒªãƒ³ã‚°è¡¨ç¤ºï¼‰
display(pd.DataFrame({"na_count": na_count, "na_rate_%": na_rate}).head(30))

                      na_count  na_rate_%
prefecture                   0        0.0
rent_private                 0        0.0
average_age                  0        0.0
night_shift_2_avg            0        0.0
night_shift_3_avg            0        0.0
overtime_hours               0        0.0
population                   0        0.0
hospital_per_100k            0        0.0
large_hospital_ratio         0        0.0
large_hospital_count         0        0.0
hospital_count               0        0.0
commute_time                 0        0.0
turnover_total               0        0.0
home_ownership_rate          0        0.0
turnover_experienced         0        0.0
turnover_new_grad            0        0.0
job_openings_ratio           0        0.0
metro_b                      0        0.0
metro_a                      0        0.0
night_shift_72h_plus         0        0.0
annual_income                0        0.0
nurse_per_100k               0        0.0
population_density           0        0.0

In [7]:
# æ¬ ææ•°ã¨æ¬ æç‡ã®Seriesã‚’çµåˆã—ã€å“è³ªè©•ä¾¡ç”¨ã®ã‚µãƒãƒªãƒ†ãƒ¼ãƒ–ãƒ«ã‚’ä½œæˆ
df_na_summary = pd.DataFrame({"na_count": na_count, "na_rate_%": na_rate})

# æ¬ æã®ãªã„æ­£å¸¸ãªåˆ—ã‚’é™¤å¤–ã—ã€å¯¾å¿œãŒå¿…è¦ãªã‚«ãƒ©ãƒ ã®ã¿ã‚’ã‚¯ã‚¨ãƒªæŠ½å‡ºã—ã¦è¡¨ç¤º
display(df_na_summary.query("na_count > 0"))

Empty DataFrame
Columns: [na_count, na_rate_%]
Index: []

In [8]:
# å…¨ã‚«ãƒ©ãƒ ã®å€¤ãŒå®Œå…¨ã«ä¸€è‡´ã™ã‚‹è¡Œï¼ˆå®Œå…¨é‡è¤‡ãƒ¬ã‚³ãƒ¼ãƒ‰ï¼‰ã‚’æ¤œçŸ¥ã—ã€ãã®ç·æ•°ã‚’ã‚«ã‚¦ãƒ³ãƒˆ
print("duplicate rows:", df.duplicated().sum())

duplicate rows: 0

In [9]:
# æ¤œè¨¼å¯¾è±¡ã¨ã™ã‚‹ãƒ¦ãƒ‹ãƒ¼ã‚¯ã‚­ãƒ¼å€™è£œï¼ˆè­˜åˆ¥å­ï¼‰ã‚’å¤‰æ•°å®šç¾©
key = "prefecture"

# å¯¾è±¡ã‚­ãƒ¼ã«ãŠã‘ã‚‹ä¸€æ„æ€§åˆ¶ç´„ï¼ˆUniquenessï¼‰é•åã®ç·æ•°ã‚’æ¤œçŸ¥ã—ã¦ãƒ­ã‚°å‡ºåŠ›
print("duplicated key:", df[key].duplicated().sum())

# é‡è¤‡ãƒ¬ã‚³ãƒ¼ãƒ‰ã‚’å…¨ä»¶ï¼ˆkeep=Falseï¼‰æŠ½å‡ºã—ã€å†…å®¹ç…§åˆã®ãŸã‚ã«ã‚½ãƒ¼ãƒˆã—ã¦è¡¨ç¤º
df[df[key].duplicated(keep=False)].sort_values(key)

duplicated key: 0

Empty DataFrame
Columns: [prefecture, turnover_total, nurse_per_100k, annual_income, night_shift_72h_plus, metro_a, metro_b, job_openings_ratio, turnover_new_grad, turnover_experienced, home_ownership_rate, commute_time, rent_private, hospital_count, large_hospital_count, large_hospital_ratio, hospital_per_100k, population, overtime_hours, night_shift_3_avg, night_shift_2_avg, average_age, population_density]
Index: []

In [10]:
# æ•°å€¤å‹ã®ç‰¹å¾´é‡ï¼ˆé‡çš„å¤‰æ•°ï¼‰ã®ã¿ã‚’æŠ½å‡ºã—ã€çµ±è¨ˆå‡¦ç†ç”¨ã®ãƒªã‚¹ãƒˆã¨ã—ã¦å®šç¾©
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()

# æ•°å€¤ä»¥å¤–ã®ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°ï¼ˆè³ªçš„å¤‰æ•°ï¼‰ã‚’åˆ†é›¢ã—ã€ã‚¨ãƒ³ã‚³ãƒ¼ãƒ‡ã‚£ãƒ³ã‚°ç­‰ã®å€‹åˆ¥ãƒãƒ³ãƒ‰ãƒªãƒ³ã‚°ç”¨ã«ãƒªã‚¹ãƒˆåŒ–
obj_cols = df.select_dtypes(exclude=[np.number]).columns.tolist()

# ç‰¹å¾´é‡ã®å†…è¨³ï¼ˆæ¬¡å…ƒæ•°ï¼‰ã‚’ãƒ­ã‚°å‡ºåŠ›ã—ã€ãƒ‡ãƒ¼ã‚¿ã®æ§‹æˆæ¯”ç‡ã‚’æŠŠæ¡
print("numeric:", len(num_cols))
print("non-numeric:", len(obj_cols))

# ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°ã®ã‚«ãƒ©ãƒ åï¼ˆã‚¹ã‚­ãƒ¼ãƒï¼‰ã‚’å‡ºåŠ›ã—ã€å¾Œç¶šã®å‡¦ç†æ–¹é‡ã‚’ç¢ºèª
print("non-numeric cols:", obj_cols)

numeric: 22
non-numeric: 1
non-numeric cols: ['prefecture']

In [11]:
# æ•°å€¤ãƒ‡ãƒ¼ã‚¿ã®åŸºæœ¬çµ±è¨ˆé‡ã‚’ç®—å‡ºã—ã€ç‰¹å¾´é‡ãŒå¤šã„å ´æ‰€ã§ã‚‚è¦–èªã—ã‚„ã™ã„ã‚ˆã†è»¢ç½®(Transpose)
stats = df[num_cols].describe().T

# å¹³å‡å€¤(mean)ã¨ã®ä¹–é›¢(åˆ†å¸ƒã®æ­ªã¿)ã‚’æ¯”è¼ƒæ¤œè¨¼ã™ã‚‹ãŸã‚ã€ä¸­å¤®å€¤ã‚’æ˜ç¤ºçš„ã«åˆ—è¿½åŠ 
stats["median"] = df[num_cols].median()

# ç”Ÿæˆã—ãŸçµ±è¨ˆãƒ—ãƒ­ãƒ•ã‚¡ã‚¤ãƒ«ã‚’ãƒ¬ãƒ³ãƒ€ãƒªãƒ³ã‚°ã—ã€å¤–ã‚Œå€¤ã‚„ç•°å¸¸æ¤œçŸ¥ã®ä¸€æ¬¡åˆ¤æ–­ã‚’è¡Œã†
display(stats)

,count,mean,std,min,25%,50%,75%,max,median
turnover_total,47.0,10.142553,1.887573,6.80,8.700,10.00,11.600,14.20,10.00
nurse_per_100k,47.0,1184.478723,215.356197,744.20,1028.700,1207.00,1340.200,1685.40,1207.00
annual_income,47.0,499.252979,37.632704,416.29,472.180,504.88,530.555,568.09,504.88
night_shift_72h_plus,47.0,35.170213,6.990954,11.80,31.650,36.10,39.000,48.20,36.10
metro_a,47.0,0.170213,0.379883,0.00,0.000,0.00,0.000,1.00,0.00
metro_b,47.0,0.191489,0.397727,0.00,0.000,0.00,0.000,1.00,0.00
job_openings_ratio,47.0,1.395106,0.184083,1.09,1.250,1.41,1.525,1.93,1.41
turnover_new_grad,47.0,7.889362,2.273021,2.80,6.300,7.90,9.400,15.20,7.90
turnover_experienced,47.0,15.119149,3.145434,7.30,13.850,14.70,16.800,22.40,14.70
home_ownership_rate,47.0,66.110638,7.275577,42.60,63.100,67.80,71.000,77.10,67.80
commute_time,47.0,1.064894,0.184071,0.56,1.025,1.06,1.140,1.40,1.06
rent_private,47.0,55987.446809,9290.782879,46802.00,50887.000,52987.00,58185.500,98236.00,52987.00
hospital_count,47.0,172.808511,136.478321,43.00,89.000,123.00,187.000,637.00,123.00
large_hospital_count,47.0,8.106383,9.220096,1.00,3.000,4.00,8.500,46.00,4.00
large_hospital_ratio,47.0,4.403617,2.104592,0.95,2.700,4.30,5.905,10.19,4.30
hospital_per_100k,47.0,8.042553,3.216854,3.60,5.750,7.10,9.850,17.70,7.10
population,47.0,2645.808511,2797.551411,537.00,1034.000,1549.00,2636.500,14086.00,1549.00
overtime_hours,47.0,6.659574,3.009236,3.00,5.000,6.00,7.500,20.00,6.00
night_shift_3_avg,47.0,7.357447,0.555895,5.40,7.000,7.50,7.750,8.20,7.50
night_shift_2_avg,47.0,4.804255,0.278160,4.10,4.600,4.80,5.000,5.70,4.80
average_age,47.0,42.178723,1.849434,38.10,40.850,42.00,43.550,46.00,42.00
population_density,47.0,650.734043,1221.251745,64.90,168.100,259.60,460.200,6402.90,259.60

In [12]:
# æ•°å€¤åˆ—ã‚’å…¨ä»¶ã‚¹ã‚­ãƒ£ãƒ³ã—ã€è«–ç†çš„ã«ä¸æ­£ãªå¯èƒ½æ€§ãŒã‚ã‚‹ã€Œè² ã®å€¤ã€ã‚’å«ã‚€ã‚«ãƒ©ãƒ ã‚’ãƒªã‚¹ãƒˆåŒ–
neg_cols = [c for c in num_cols if (df[c]< 0).any()]

# ç•°å¸¸æ¤œçŸ¥ï¼ˆAnomaly Detectionï¼‰ã®çµæœã¨ã—ã¦ã€ãƒã‚¤ãƒŠã‚¹å€¤ã‚’æŒã¤ã‚«ãƒ©ãƒ åã‚’ãƒ­ã‚°å‡ºåŠ›
print("has negative values",neg_cols)

has negative values []

In [13]:
# ã‚«ãƒ¼ãƒ‡ã‚£ãƒŠãƒªãƒ†ã‚£ï¼ˆãƒ¦ãƒ‹ãƒ¼ã‚¯æ•°ï¼‰ãŒ1ä»¥ä¸‹ã®ã€Œåˆ†æ•£0ã€ã®ç‰¹å¾´é‡ã‚’ç‰¹å®šã—ã€æƒ…å ±é‡ã®ãªã„ã‚«ãƒ©ãƒ ã‚’æŠ½å‡º
zero_var = [c for c in num_cols if df[c].nunique(dropna=True) <= 1]

# åˆ†æãƒ¢ãƒ‡ãƒ«ã«å¯„ä¸ã—ãªã„ã€Œå‰Šé™¤å€™è£œï¼ˆPruning Candidatesï¼‰ã€ã¨ã—ã¦ãƒ­ã‚°å‡ºåŠ›
print("zero/constant columns:", zero_var)

zero/constant columns: []

In [14]:
def iqr_outliers(s: pd.Series):
    # æ¬ æå€¤ï¼ˆNaNï¼‰ã¯çµ±è¨ˆè¨ˆç®—ã®é‚ªé­”ã«ãªã‚‹ãŸã‚ã€å‰å‡¦ç†ã¨ã—ã¦é™¤å¤–
    s = s.dropna()

    # ãƒ‡ãƒ¼ã‚¿ã®ç¨®é¡ï¼ˆã‚«ãƒ¼ãƒ‡ã‚£ãƒŠãƒªãƒ†ã‚£ï¼‰ãŒå°‘ãªã™ãã‚‹å ´åˆã¯ã€çµ±è¨ˆçš„ãªåˆ¤å®šãŒä¸èƒ½ãªãŸã‚ã‚¹ã‚­ãƒƒãƒ—
    if s.nunique() < 5:
        return pd.DataFrame()

    # ãƒ‡ãƒ¼ã‚¿ã®åˆ†å¸ƒã«ãŠã‘ã‚‹ç¬¬1å››åˆ†ä½æ•°ï¼ˆ25%ç‚¹ï¼‰ã¨ç¬¬3å››åˆ†ä½æ•°ï¼ˆ75%ç‚¹ï¼‰ã‚’ç®—å‡º
    q1, q3 = s.quantile([0.25, 0.75])

    # ãƒ‡ãƒ¼ã‚¿ã®ä¸­å¤®50%ãŒå«ã¾ã‚Œã‚‹ç¯„å›²ï¼ˆIQRï¼šå››åˆ†ä½ç¯„å›²ï¼‰ã‚’è¨ˆç®—ã—ã€ã°ã‚‰ã¤ãã‚’å®šé‡åŒ–
    iqr = q3 - q1

    # å¤–ã‚Œå€¤ã¨ã¿ãªã™ä¸‹é™ãƒ»ä¸Šé™ã®é–¾å€¤ï¼ˆFenceï¼‰ã‚’å®šç¾©ï¼ˆä¸€èˆ¬çš„ãª1.5å€ãƒ«ãƒ¼ãƒ«ã‚’é©ç”¨ï¼‰
    lo, hi = q1 - 1.5*iqr, q3 + 1.5*iqr

    # è¨ˆç®—ã—ãŸé–¾å€¤ã¨ã€å®Ÿéš›ã®ãƒ‡ãƒ¼ã‚¿ã®æœ€å°ãƒ»æœ€å¤§å€¤ã‚’æ§‹é€ åŒ–ãƒ‡ãƒ¼ã‚¿ã¨ã—ã¦è¿”å´
    return pd.DataFrame({"low": [lo], "high": [hi], "min": [s.min()], "max": [s.max()]})

# çµæœã‚’æ ¼ç´ã™ã‚‹ç©ºã®ãƒªã‚¹ãƒˆï¼ˆã‚³ãƒ³ãƒ†ãƒŠï¼‰ã‚’åˆæœŸåŒ–
out_summary = []

# å…¨ã¦ã®æ•°å€¤ã‚«ãƒ©ãƒ ã«å¯¾ã—ã¦ã‚¤ãƒ†ãƒ¬ãƒ¼ã‚·ãƒ§ãƒ³ï¼ˆåå¾©å‡¦ç†ï¼‰ã‚’å®Ÿè¡Œ
for c in num_cols:
    # å®šç¾©ã—ãŸé–¢æ•°ã‚’å‘¼ã³å‡ºã—ã€å¤–ã‚Œå€¤åˆ¤å®šã‚’å®Ÿè¡Œ
    r = iqr_outliers(df[c])

    # çµæœãŒç©ºã§ãªã„ï¼ˆåˆ¤å®šã§ããŸï¼‰å ´åˆã®ã¿å‡¦ç†
    if not r.empty:
        # ã©ã®ã‚«ãƒ©ãƒ ã®çµæœã‹åˆ†ã‹ã‚‹ã‚ˆã†ã«ã€è­˜åˆ¥ç”¨ã®åˆ—ã‚’å…ˆé ­ã«æŒ¿å…¥
        r.insert(0, "col", c)
        out_summary.append(r)

# çµæœãŒå­˜åœ¨ã™ã‚‹å ´åˆã®ã¿ã€ãƒªã‚¹ãƒˆã‚’çµåˆï¼ˆConcatï¼‰ã—ã¦ãƒ¬ãƒãƒ¼ãƒˆã‚’è¡¨ç¤º
if out_summary:
    display(pd.concat(out_summary, ignore_index=True).sort_values("col"))

                     col         low        high       min       max
2          annual_income    384.6175    618.1175    416.29    568.09
18           average_age     36.8000     47.6000     38.10     46.00
8           commute_time      0.8525      1.3125      0.56      1.40
7    home_ownership_rate     51.2500     82.8500     42.60     77.10
10        hospital_count    -58.0000    334.0000     43.00    637.00
13     hospital_per_100k     -0.4000     16.0000      3.60     17.70
4     job_openings_ratio      0.8375      1.9375      1.09      1.93
11  large_hospital_count     -5.2500     16.7500      1.00     46.00
12  large_hospital_ratio     -2.1075     10.7125      0.95     10.19
17     night_shift_2_avg      4.0000      5.6000      4.10      5.70
16     night_shift_3_avg      5.8750      8.8750      5.40      8.20
3   night_shift_72h_plus     20.6250     50.0250     11.80     48.20
1         nurse_per_100k    561.4500   1807.4500    744.20   1685.40
15        overtime_hours      1.2500     11.2500      3.00     20.00
14            population  -1369.7500   5040.2500    537.00  14086.00
19    population_density   -270.0500    898.3500     64.90   6402.90
9           rent_private  39939.2500  69133.2500  46802.00  98236.00
6   turnover_experienced      9.4250     21.2250      7.30     22.40
5      turnover_new_grad      1.6500     14.0500      2.80     15.20
0         turnover_total      4.3500     15.9500      6.80     14.20

In [15]:
# åˆ†æã®ã€Œç›®çš„å¤‰æ•°ï¼ˆã‚¿ãƒ¼ã‚²ãƒƒãƒˆï¼‰ã€ã¨ãªã‚‹ã€æœ€é‡è¦ã®é›¢è·ç‡é–¢é€£ã‚«ãƒ©ãƒ ã‚’å®šç¾©
turnover_cols = ["turnover_total", "turnover_new_grad", "turnover_experienced"]

# ç›®çš„å¤‰æ•°ã®ã„ãšã‚Œã‹ã«æ¬ æï¼ˆNaNï¼‰ãŒã‚ã‚‹è¡Œã‚’ç‰¹å®šã—ã€åˆ†æã«ä½¿ãˆãªã„ã€Œä¸å®Œå…¨ãƒ‡ãƒ¼ã‚¿ã€ã¨ã—ã¦æŠ½å‡º
# axis=1 ã¯ã€Œè¡Œå˜ä½ï¼ˆæ¨ªæ–¹å‘ï¼‰ã€ã«ãƒã‚§ãƒƒã‚¯ã™ã‚‹ã¨ã„ã†æ„å‘³
missing_turnover = df[df[turnover_cols].isna().any(axis=1)]

# æ¬ æã«ã‚ˆã‚‹ã€Œãƒ‡ãƒ¼ã‚¿ãƒ­ã‚¹ï¼ˆåˆ†æå¯¾è±¡å¤–ã¨ãªã‚‹ä»¶æ•°ï¼‰ã€ã‚’ãƒ­ã‚°å‡ºåŠ›ã—ã€å½±éŸ¿ã®å¤§ãã•ã‚’æ¸¬å®š
print("rows with missing turnover:", len(missing_turnover))

# æ¬ æã®ç™ºç”Ÿå‚¾å‘ï¼ˆç‰¹å®šã®éƒ½é“åºœçœŒã ã‘ã§èµ·ãã¦ã„ã‚‹ã‹ï¼Ÿãªã©ï¼‰ã‚’ç›®è¦–ç¢ºèªã™ã‚‹ãŸã‚ã€å±æ€§ã‚’çµã£ã¦ã‚µãƒ³ãƒ—ãƒ«è¡¨ç¤º
display(missing_turnover[["prefecture"] + turnover_cols].head(20))

rows with missing turnover: 0

Empty DataFrame
Columns: [prefecture, turnover_total, turnover_new_grad, turnover_experienced]
Index: []

In [16]:
# ã‚«ãƒ†ã‚´ãƒªå¤‰æ•°ï¼ˆè³ªçš„å¤‰æ•°ï¼‰ã®å…¨ã‚«ãƒ©ãƒ ã«å¯¾ã—ã¦ã€ãƒ‡ãƒ¼ã‚¿ã®ä¸­èº«ã‚’ç¢ºèªã™ã‚‹ã‚¤ãƒ†ãƒ¬ãƒ¼ã‚·ãƒ§ãƒ³ï¼ˆåå¾©å‡¦ç†ï¼‰ã‚’é–‹å§‹
for c in obj_cols:
    # æ¬ æã‚’é™¤å»ã—ã¦æ–‡å­—åˆ—å‹ã«ã‚­ãƒ£ã‚¹ãƒˆï¼ˆå‹å¤‰æ›ï¼‰ã—ã€å®Ÿãƒ‡ãƒ¼ã‚¿ã‚’å…ˆé ­5ä»¶ã ã‘ã‚µãƒ³ãƒ—ãƒªãƒ³ã‚°ï¼ˆæŠ½å‡ºï¼‰
    sample = df[c].dropna().astype(str).head(5).tolist()
    
    # ãƒ‡ãƒ¼ã‚¿ã®ã€Œãƒ•ã‚©ãƒ¼ãƒãƒƒãƒˆã€ã‚„ã€Œå…¥åŠ›è¦å‰‡ã€ã‚’ç›®è¦–ãƒã‚§ãƒƒã‚¯ï¼ˆã‚¤ãƒ³ã‚¹ãƒšã‚¯ã‚·ãƒ§ãƒ³ï¼‰ã™ã‚‹ãŸã‚ã€ã‚µãƒ³ãƒ—ãƒ«å€¤ã‚’ãƒ­ã‚°å‡ºåŠ›
    print(c,"sample",sample)

prefecture sample ['åŒ—æµ·é“', 'é’æ£®çœŒ', 'å²©æ‰‹çœŒ', 'å®®åŸçœŒ', 'ç§‹ç”°çœŒ']

---

## ğŸ¯ Project Statusï¼ˆç¾æ™‚ç‚¹ã®æˆæœç‰©ã¨ã—ã¦ï¼‰

æœ¬Notebookã¯ã€åˆ†æãƒ‘ã‚¤ãƒ—ãƒ©ã‚¤ãƒ³ã®å…¥å£ã§ã‚ã‚‹ **ãƒ‡ãƒ¼ã‚¿å“è³ªã‚²ãƒ¼ãƒˆ** ã‚’æ‹…ã†ã€‚  
å¾Œç¶šã® `03_eda_overview.ipynb` / `04_modeling.ipynb` ã§ã¯ã€æœ¬Notebookã§ç¢ºèªã—ãŸå‰æï¼ˆData Contractï¼‰ã«åŸºã¥ã„ã¦æ¢ç´¢ãƒ»æ¨å®šã‚’è¡Œã†ã€‚

---

## âš  Limitationsï¼ˆåˆ¶ç´„ï¼‰

- éƒ½é“åºœçœŒå˜ä½ã®é›†è¨ˆãƒ‡ãƒ¼ã‚¿ã§ã‚ã‚Šã€å€‹äººå› æœã¯ç¤ºã›ãªã„  
- æŒ‡æ¨™ã«ã‚ˆã£ã¦å¹´æ¬¡ãŒå®Œå…¨ä¸€è‡´ã—ãªã„å¯èƒ½æ€§ãŒã‚ã‚‹ï¼ˆåˆ©ç”¨å¯èƒ½ãªç›´è¿‘å€¤ã‚’æ¡ç”¨ã—ã¦ã„ã‚‹å ´åˆãŒã‚ã‚‹ï¼‰  
- ç›®è¦–ç¢ºèªãŒå¿…è¦ãªé …ç›®ï¼ˆè¡¨è¨˜æºã‚Œç­‰ï¼‰ãŒæ®‹ã‚Šå¾—ã‚‹

---

## ğŸš€ Nextï¼ˆãƒ‡ãƒ¼ã‚¿ã‚¨ãƒ³ã‚¸ãƒ‹ã‚¢è¦–ç‚¹ã®ç™ºå±•ï¼‰

- `01_create_master_dataset.ipynb` ã‚’èµ·ç‚¹ã«ã€CSVç”Ÿæˆã¾ã§ã‚’å†ç¾å¯èƒ½ãªETLã¨ã—ã¦å›ºå®š  
- ä¸»è¦ãƒã‚§ãƒƒã‚¯ã‚’è‡ªå‹•åŒ–ï¼ˆãƒ‡ãƒ¼ã‚¿å“è³ªãƒ†ã‚¹ãƒˆï¼šè¡Œæ•°ã€æ¬ æç‡é–¾å€¤ã€å‹ã€ãƒ¬ãƒ³ã‚¸ï¼‰  
- Feature Layer åˆ†é›¢ï¼ˆå…¥åŠ›/ç‰¹å¾´é‡å®šç¾©ã‚’ã‚³ãƒ¼ãƒ‰ã¨ãƒ‰ã‚­ãƒ¥ãƒ¡ãƒ³ãƒˆã§ä¸€å…ƒç®¡ç†ï¼‰